# PYTHON Pandas - Metin Verileri(Text Data) İle Çalışma
Bu bölümde, dize işlemlerini temel seri/Dizinimizle tartışacağız. Sonraki bölümlerde, bu dize işlevlerini veri çerçevesine nasıl uygulayacağımızı öğreneceğiz.

Pandas, dize verileri üzerinde çalışmayı kolaylaştıran bir dizi dize işlevi sağlar. En önemlisi, bu işlevler eksik/nan değerlerini yoksayar (veya hariç tutar).

Neredeyse, tüm bu yöntemler Python dize işlevleri ile çalışır (bkz: https://docs.python.org/3/library/stdtypes.html#string-methods). Bu nedenle, Series nesnesini String nesnesine dönüştürür ve ardından işlemi gerçekleştirir.

| Sr.No | Fonksiyon | Açıklama |
|---|---|---|
| 1  | lower()  | Dizeler seri/dizin için küçük harf dönüştürür. |
| 2  | upper() | Dizi/dizin dizelerini büyük harfe dönüştürür. |
| 3  | len()  | Dizi uzunluğunu hesaplar |
| 4  | strip()  | Her iki taraftan da seri/dizindeki her dizeden boşluk(yeni satır dahil) şeridine yardımcı olur. |
| 5  | split()  | Her dizeyi verilen desenle böler. |
| 6  | cat(sep='')  | Seri / dizin öğelerini verilen ayırıcı ile birleştirir. |
| 7  | get_dummies() | DataFrame tek sıcak kodlanmış değerlerle döndürür.|
| 8  | contains(pattern) | Dizi içeriyorsa True döndürür |
| 9  | replace(a,b)  | A değerini B değeriyle değiştirir. |
| 10 | repeat(value)  | Belirtilen sayıda her öğe tekrarlar. |
| 11 | count(pattern)  | Her öğedeki desenin görünüm sayısını döndürür. |
| 12 | startswith(pattern) | Öğe serisi/dizini desen ile başlarsa true döndürür. |
| 13 | endswith(pattern)  | Öğe serisi/dizini desen ile biterse true döndürür. |
| 14 | find(pattern)  | Desenin ilk oluşumunun ilk konumunu döndürür. |
| 15 | findall(pattern) | Desenin tüm oluşumunun bir listesini döndürür. |
| 16 | swapcase  | Davayı alt/üst değiştirir. |
| 17 | islower()  | Her dizedeki tüm karakterlerin seri/dizindeki küçük harf olup olmadığını kontrol eder. Boolean döndürür. |
| 18 | islower()  | Her dizedeki tüm karakterlerin seri/dizindeki büyük harf olup olmadığını kontrol eder. Boolean döndürür. |
| 19 | isnumeric()  | Dizi / dizindeki her dizedeki tüm karakterlerin sayısal olup olmadığını denetler. Boolean döndürür. |


Şimdi bir dizi oluşturalım ve yukarıdaki tüm işlevlerin nasıl çalıştığını görelim.

In [1]:
import pandas as pd
import numpy as np

seri = pd.Series(['ali kemal', 'furkan', 'zeynep', 'ayşe', np.nan, '1234','istanbul'])
seri

0    ali kemal
1       furkan
2       zeynep
3         ayşe
4          NaN
5         1234
6     istanbul
dtype: object

## lower()

In [6]:
import pandas as pd
import numpy as np

seri = pd.Series(['Ali kemal', 'Furkan', 'zeynep', 'Ayşe', np.nan, '1234','istanbul'])
print(seri.str.lower())

0    ali kemal
1       furkan
2       zeynep
3         ayşe
4          NaN
5         1234
6     istanbul
dtype: object

## upper()

In [7]:
import pandas as pd
import numpy as np

seri = pd.Series(['Ali kemal', 'Furkan', 'zeynep', 'Ayşe', np.nan, '1234','istanbul'])
print(seri.str.upper())

0    ALI KEMAL
1       FURKAN
2       ZEYNEP
3         AYŞE
4          NaN
5         1234
6     ISTANBUL
dtype: object

## len()

In [8]:
import pandas as pd
import numpy as np

seri = pd.Series(['Ali kemal', 'Furkan', 'zeynep', 'Ayşe', np.nan, '1234','istanbul'])
print(seri.str.len())

0    9.0
1    6.0
2    6.0
3    4.0
4    NaN
5    4.0
6    8.0
dtype: float64

## strip()

In [11]:
import pandas as pd
import numpy as np

seri = pd.Series(['Ali kemal', 'Furkan', 'zeynep', 'Ayşe', np.nan, '1234','istanbul'])
print(seri.str.strip())

0    Ali kemal
1       Furkan
2       zeynep
3         Ayşe
4          NaN
5         1234
6     istanbul
dtype: object

## split(pattern)

In [14]:
import pandas as pd
import numpy as np

seri = pd.Series(['Ali kemal', 'Furkan', 'zeynep', 'Ayşe', np.nan, '1234','istanbul'])
print(seri.str.split(' '))

0    [Ali, kemal]
1        [Furkan]
2        [zeynep]
3          [Ayşe]
4             NaN
5          [1234]
6      [istanbul]
dtype: object

## cat(sep=pattern)

In [19]:
import pandas as pd
import numpy as np

seri = pd.Series(['Ali kemal', 'Furkan', 'zeynep', 'Ayşe', np.nan, '1234','istanbul'])
print(seri.str.cat(sep='---'))

Ali kemal---Furkan---zeynep---Ayşe---1234---istanbul

## get_dummies()

In [2]:
import pandas as pd
import numpy as np

seri = pd.Series(['Ali kemal', 'Furkan', 'zeynep', 'Ayşe', np.nan, '1234','istanbul'])
seri.str.get_dummies()

   1234  Ali kemal  Ayşe  Furkan  istanbul  zeynep
0     0          1     0       0         0       0
1     0          0     0       1         0       0
2     0          0     0       0         0       1
3     0          0     1       0         0       0
4     0          0     0       0         0       0
5     1          0     0       0         0       0
6     0          0     0       0         1       0

## contains ()

In [3]:
import pandas as pd
import numpy as np

seri = pd.Series(['Ali kemal', 'Furkan ', 'zeynep', 'Ayşe', np.nan, '1234','istanbul'])
seri.str.contains(' ')

0     True
1     True
2    False
3    False
4      NaN
5    False
6    False
dtype: object

## replace(a,b)

In [29]:
import pandas as pd
import numpy as np

seri = pd.Series(['Ali kemal', 'Furkan ', 'zeynep', 'Ayşe', np.nan, '1234','istanbul'])
print(seri.str.replace('1','5'))

0    Ali kemal
1      Furkan
2       zeynep
3         Ayşe
4          NaN
5         5234
6     istanbul
dtype: object

## repeat(value)

In [32]:
import pandas as pd
import numpy as np

seri = pd.Series(['Ali kemal', 'Furkan ', 'zeynep', 'Ayşe', np.nan, '1234','istanbul'])
print(seri.str.repeat(2))

0    Ali kemalAli kemal
1        Furkan Furkan
2          zeynepzeynep
3              AyşeAyşe
4                   NaN
5              12341234
6      istanbulistanbul
dtype: object

## count(pattern)

In [34]:
import pandas as pd
import numpy as np

seri = pd.Series(['Ali kemal', 'Furkan ', 'zeynep', 'Ayşe', np.nan, '1234','istanbul'])
print(seri.str.count('e'))

0    1.0
1    0.0
2    2.0
3    1.0
4    NaN
5    0.0
6    0.0
dtype: float64

## startswith(pattern)

In [36]:
import pandas as pd
import numpy as np

seri = pd.Series(['Ali kemal', 'Furkan ', 'zeynep', 'Ayşe', np.nan, '1234','istanbul'])
print(seri.str.startswith('A'))

0     True
1    False
2    False
3     True
4      NaN
5    False
6    False
dtype: object

## endswith(pattern)

In [39]:
import pandas as pd
import numpy as np

seri = pd.Series(['Ali kemal', 'Furkan ', 'zeynep', 'Ayşe', np.nan, '1234','istanbul'])
print(seri.str.endswith('l'))

0     True
1    False
2    False
3    False
4      NaN
5    False
6     True
dtype: object

## find(pattern)

In [42]:
import pandas as pd
import numpy as np

seri = pd.Series(['Ali kemal', 'Furkan ', 'zeynep', 'Ayşe', np.nan, '1234','istanbul'])
print(seri.str.find('e'))
## -1: böyle bir değer yok

0    5.0
1   -1.0
2    1.0
3    3.0
4    NaN
5   -1.0
6   -1.0
dtype: float64

## findall(pattern)

In [43]:
import pandas as pd
import numpy as np

seri = pd.Series(['Ali kemal', 'Furkan ', 'zeynep', 'Ayşe', np.nan, '1234','istanbul'])
print(seri.str.findall('e'))

0       [e]
1        []
2    [e, e]
3       [e]
4       NaN
5        []
6        []
dtype: object

## swapcase()

In [44]:
import pandas as pd
import numpy as np

seri = pd.Series(['Ali kemal', 'Furkan ', 'zeynep', 'Ayşe', np.nan, '1234','istanbul'])
print(seri.str.swapcase())

0    aLI KEMAL
1      fURKAN
2       ZEYNEP
3         aYŞE
4          NaN
5         1234
6     ISTANBUL
dtype: object

## islower()

In [45]:
import pandas as pd
import numpy as np

seri = pd.Series(['Ali kemal', 'Furkan ', 'zeynep', 'Ayşe', np.nan, '1234','istanbul'])
print(seri.str.islower())

0    False
1    False
2     True
3    False
4      NaN
5    False
6     True
dtype: object

## isupper()

In [46]:
import pandas as pd
import numpy as np

seri = pd.Series(['Ali kemal', 'Furkan ', 'zeynep', 'Ayşe', np.nan, '1234','istanbul'])
print(seri.str.isupper())

0    False
1    False
2    False
3    False
4      NaN
5    False
6    False
dtype: object

## isnumeric()

In [47]:
import pandas as pd
import numpy as np

seri = pd.Series(['Ali kemal', 'Furkan ', 'zeynep', 'Ayşe', np.nan, '1234','istanbul'])
print(seri.str.isnumeric())

0    False
1    False
2    False
3    False
4      NaN
5     True
6    False
dtype: object