# PYTHON Pandas - Veri İndeksleme Ve Seçme
Bu bölümde, tarihi nasıl dilimleyeceğimizi ve zar atacağımızı ve genellikle pandas nesnesinin alt kümesini nasıl alacağımızı öğreneceğiz.

Python ve NumPy indeksleme operatörleri "[] "ve öznitelik operatörü"."kullanım durumları geniş bir yelpazede pandas veri yapılarına hızlı ve kolay erişim sağlar. Bununla birlikte, erişilecek verilerin türü önceden bilinmediğinden, doğrudan standart operatörlerin kullanılması bazı optimizasyon sınırlarına sahiptir. Üretim kodu için, bu bölümde açıklanan optimize edilmiş pandalar veri erişim yöntemlerinden yararlanmanızı öneririz.

| Sr.No | Dizin | Açıklama |
|---|---|---|
| 1 | .loc | Etiket tabanlı |
| 2 | .iloc | Tamsayı tabanlı |
| 3 |.ix | Hem etiket hem de tamsayı tabanlı |

## .loc
Pandas tamamen etiket tabanlı indeksleme için çeşitli yöntemler sağlar. Dilimleme yaparken, başlangıç sınırı da dahildir. Tamsayılar geçerli etiketlerdir, ancak konuma değil etikete başvururlar.
.loc() aşağıdaki gibi çoklu erişim yöntemleri vardır.
- Tek bir skaler etiket
- Etiket listesi
- Bir dilim nesnesi
- Bir boolean listesi

**Örnek 1**

In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(8,4),
                  index = ['a','b','c','d','e','f','g','h'],
                  columns=['A','B','C','D'])

df.loc[:,'A']

a    1.175623
b    0.097213
c    0.547861
d   -1.083855
e    0.868159
f    0.702737
g    0.289487
h   -1.490551
Name: A, dtype: float64

**Örnek 2**

In [6]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(8,4),
                  index = ['a','b','c','d','e','f','g','h'],
                  columns=['A','B','C','D'])

print(df.loc[:,['A','C']])

          A         C
a  1.521064  0.536927
b  0.410506 -1.491079
c  1.016572 -0.368829
d  0.447161  0.191068
e  1.723841  0.949114
f  2.757782 -0.440548
g  1.983765 -0.425246
h  1.210397  0.355660

**Örnek 3**

In [8]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(8,4),
                  index = ['a','b','c','d','e','f','g','h'],
                  columns=['A','B','C','D'])

print(df.loc[['a','b','f','g'],['A','C']])

          A         C
a -1.284055  1.078504
b -0.169247  1.876090
f  1.238051 -1.954387
g -0.529721 -0.508349

**Örnek 4**

In [10]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(8,4),
                  index = ['a','b','c','d','e','f','g','h'],
                  columns=['A','B','C','D'])

print(df.loc['a':'g'])

          A         B         C         D
a -0.529005 -0.222456 -0.238107  0.097046
b -0.267766 -0.879002 -1.976501 -1.331820
c  1.507511 -0.388398  0.190395 -1.016543
d  1.099079  0.850240  0.316530  0.979211
e -0.252174 -0.960793 -1.184589  0.282826
f -1.166112 -0.483563  0.457025 -0.581047
g  0.270744  0.275215 -0.034028 -1.761025

**Örnek 5**

In [11]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(8,4),
                  index = ['a','b','c','d','e','f','g','h'],
                  columns=['A','B','C','D'])

print(df.loc['a']>0)

A    False
B     True
C     True
D     True
Name: a, dtype: bool

## .iloc()
Pandalar tamamen tamsayı tabanlı indeksleme elde etmek için çeşitli yöntemler sağlar. Python ve numpy gibi, bunlar 0 tabanlı indeksler.
Çeşitli erişim yöntemleri aşağıdaki gibidir.
- tamsayı
- tamsayı listesi
- Bir değer aralığı

**Örnek 1**

In [12]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(8,4),
                  index = ['a','b','c','d','e','f','g','h'],
                  columns=['A','B','C','D'])

print(df.iloc[:3])

          A         B         C         D
a -2.598710 -0.170218  0.157466 -0.641340
b -0.124876 -0.966792 -2.040088 -0.794693
c -0.449089  0.558291 -0.555078 -0.871667

**Örnek 2**

In [13]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(8,4),
                  index = ['a','b','c','d','e','f','g','h'],
                  columns=['A','B','C','D'])

print(df.iloc[1:5,2:4])

          C         D
b -0.785892 -1.711479
c -0.157131 -0.843173
d -0.223474 -0.999276
e -0.908796 -0.637454

**Örnek 3**

In [26]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(8,4),
                  index = ['a','b','c','d','e','f','g','h'],
                  columns=['A','B','C','D'])

df.iloc[[1,2,4],[1,3]]

          B         D
b -0.914627 -0.484107
c  0.184735  0.608863
e  0.775192  2.950337

## ix()
Bu hem .loc hem de .iloc gibi çalışır.

**Örnek 1**

In [25]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(8,4),
                  index = ['a','b','c','d','e','f','g','h'],
                  columns=['A','B','C','D'])

df.ix[:4]

C:\Users\Lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

          A         B         C         D
a -0.126685  1.022565  0.009967 -0.171545
b  2.791719 -1.718629  0.575898  0.083384
c  0.694704  0.182667 -0.717311  1.048104
d  0.884241  1.654413  1.057019 -1.381079

**Örnek 2**

In [30]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(8,4),
                  index = ['a','b','c','d','e','f','g','h'],
                  columns=['A','B','C','D'])

df.ix[:,'A']

C:\Users\Lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

a   -0.267370
b   -0.130328
c    0.454876
d   -1.344461
e    0.156791
f    1.665439
g   -0.977349
h    0.738473
Name: A, dtype: float64

## Notasyonların kullanımı
Şimdi her işlemin DataFrame nesnesinde nasıl gerçekleştirilebileceğini görelim. Temel indeksleme operatörünü kullanacağız' []'.

**Örnek 1**

In [31]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(8,4),
                  columns=['A','B','C','D'])

df['A']

0    0.592935
1   -0.906963
2    0.863778
3    2.060928
4   -0.035286
5    1.629355
6    0.236472
7    0.661143
Name: A, dtype: float64

**Örnek 2**

In [33]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(8,4),
                  columns=['A','B','C','D'])

df[['A','D']]

          A         D
0 -0.372325 -1.176258
1 -1.667379 -2.303175
2 -0.229777  0.131433
3  1.325983 -0.583653
4 -0.788854  1.137095
5  0.263502  1.793451
6 -0.290960 -0.377357
7  0.986932 -0.229399

**Örnek 3**

In [36]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(8,4),
                  columns=['A','B','C','D'])

df[1:4]

          A         B         C         D
1  0.222869  0.836890  0.996925  0.614101
2  1.593073 -0.544410 -0.510998 -0.063775
3  0.262484  0.393187 -0.319294  0.380982

**Örnek 4**

In [37]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(8,4),
                  columns=['A','B','C','D'])

df[3:3]

Empty DataFrame
Columns: [A, B, C, D]
Index: []