# PYTHON Pandas - İstatistiksel Fonksiyonlar
İstatistiksel yöntemler, verilerin davranışını anlama ve analiz etmede yardımcı olur. Şimdi pandas nesnelerine uygulayabileceğimiz birkaç istatistiksel işlevi öğreneceğiz.

## Percent_change
Seri, DataFrame ve Panel, hepsi pct_change () işlevine sahiptir. Bu işlev, her öğeyi önceki öğesiyle karşılaştırır ve değişiklik yüzdesini hesaplar.

In [1]:
import pandas as pd
import numpy as np
seri = pd.Series([1,2,3,4,5,4])
seri.pct_change()

0         NaN
1    1.000000
2    0.500000
3    0.333333
4    0.250000
5   -0.200000
dtype: float64

In [2]:
df = pd.DataFrame(np.random.randn(5, 2))
df.pct_change()

          0         1
0       NaN       NaN
1 -0.605088 -0.168288
2  1.162736 -3.167074
3 -0.046469 -1.991705
4 -2.336055 -1.374431

Varsayılan olarak, pct_change () sütunlar üzerinde çalışır; aynı satırı bilge olarak uygulamak istiyorsanız, axis = 1 () bağımsız değişkenini kullanın.

## Covariance
Kovaryans seri verilere uygulanır. Series nesnesi, series nesneleri arasındaki kovaryansı hesaplamak için bir cov yöntemine sahiptir. NA otomatik olarak hariç tutulacaktır.

### Cov Series

In [3]:
import pandas as pd
import numpy as np
s1 = pd.Series(np.random.randn(10))
s2 = pd.Series(np.random.randn(10))
s1.cov(s2)

0.5395237481121569

Kovaryans yöntemi bir veri çerçevesine uygulandığında, tüm sütunlar arasında cov hesaplar.

In [4]:
import pandas as pd
import numpy as np
frame = pd.DataFrame(np.random.randn(10, 5), columns=['a', 'b', 'c', 'd', 'e'])
frame['a'].cov(frame['b'])

0.4558624586414784

In [5]:
frame.cov()

          a         b         c         d         e
a  1.556875  0.455862  0.010117  0.064173  0.460187
b  0.455862  1.059940 -0.078298  0.064050  0.109331
c  0.010117 -0.078298  1.035660  0.380862 -0.071474
d  0.064173  0.064050  0.380862  1.153634  0.237300
e  0.460187  0.109331 -0.071474  0.237300  0.782376

## Correlation
Korelasyon, herhangi iki değer dizisi (seri) arasındaki doğrusal ilişkiyi gösterir. Pearson(default), spearman ve kendall gibi korelasyonu hesaplamak için birden fazla yöntem vardır.

In [6]:
import pandas as pd
import numpy as np
frame = pd.DataFrame(np.random.randn(10, 5), columns=['a', 'b', 'c', 'd', 'e'])

frame['a'].corr(frame['b'])

0.008880333006314677

In [7]:
frame.corr()

          a         b         c         d         e
a  1.000000  0.008880  0.043211  0.104936 -0.092959
b  0.008880  1.000000  0.514105  0.626372 -0.115394
c  0.043211  0.514105  1.000000  0.348168 -0.199399
d  0.104936  0.626372  0.348168  1.000000 -0.602838
e -0.092959 -0.115394 -0.199399 -0.602838  1.000000

## Veri Sıralaması
Veri sıralaması, öğe dizisindeki her öğe için sıralama üretir. Bağlar halinde, ortalama rütbeyi atar.

In [9]:
import pandas as pd
import numpy as np

s = pd.Series(np.random.np.random.randn(5), index=list('abcde'))
s['d'] = s['b']
s.rank()

a    4.0
b    1.5
c    5.0
d    1.5
e    3.0
dtype: float64

Rank isteğe bağlı olarak, varsayılan olarak true olan artan bir parametre alır; false olduğunda, veriler daha küçük bir sıralama atanan daha büyük değerlerle ters sıralanır.

Rank, yöntem parametresi ile belirtilen farklı kravat kırma yöntemlerini destekler.
- average − bağlı grubun ortalama sırası
- min − gruptaki en düşük rütbe
- max − gruptaki en yüksek rütbe
- first − dizide göründükleri sırayla atanan rütbeler