# PYTHON Pandas - Pencere Fonksiyonları (Window Functions)
Sayısal veriler üzerinde çalışmak için pandalar, pencere istatistikleri için haddeleme, genişletme ve katlanarak hareket eden ağırlıklar gibi birkaç varyant sağlar. Bunlar arasında toplam, ortalama, medyan, varyans, kovaryans, korelasyon vb.vardır.
Şimdi bunların her birinin DataFrame nesnelerine nasıl uygulanabileceğini öğreneceğiz.

## .rolling() Fonksiyonu
Bu işlev bir dizi veri üzerinde uygulanabilir. Window=n bağımsız değişkenini belirtir ve bunun üzerine uygun istatistiksel işlevi uygular.

In [3]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(10, 4),
                  index = pd.date_range('1-1-2000', periods=10),
                  columns = ['A', 'B', 'C', 'D'])
df.rolling(window=3).mean()

                   A         B         C         D
2000-01-01       NaN       NaN       NaN       NaN
2000-01-02       NaN       NaN       NaN       NaN
2000-01-03  0.620317 -0.282431  0.890647 -0.310378
2000-01-04  0.271617  0.041982  0.539773  0.114452
2000-01-05  0.147917  0.113891  0.411175  0.514707
2000-01-06  0.343868  0.298722 -0.242909  0.932470
2000-01-07  0.041561  0.261652 -0.281467  0.542386
2000-01-08 -0.000516  0.436822 -0.075380  0.008115
2000-01-09  0.150174 -0.382911  0.321171 -0.484433
2000-01-10  0.879823 -0.393067  0.562907 -0.254867

**Not**
Pencere boyutu 3 olduğundan, ilk iki öğe için boş değerler vardır ve üçüncü değer n, n-1 ve n-2 elemanlarının ortalaması olacaktır. Böylece yukarıda belirtildiği gibi çeşitli işlevleri de uygulayabiliriz.

## expanding() Fonksiyonu
Bu işlev bir dizi veri üzerinde uygulanabilir. Min_periods=n bağımsız değişkenini belirtir ve bunun üzerine uygun istatistiksel işlevi uygular.

In [4]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(10, 4),
   index = pd.date_range('1/1/2000', periods=10),
   columns = ['A', 'B', 'C', 'D'])
df.expanding(min_periods=3).mean()

                   A         B         C         D
2000-01-01       NaN       NaN       NaN       NaN
2000-01-02       NaN       NaN       NaN       NaN
2000-01-03  0.308232  0.891358 -1.346598  0.512422
2000-01-04  0.014882  0.655525 -0.730279  0.463938
2000-01-05  0.170976  0.477791 -0.553016  0.377920
2000-01-06  0.101949  0.412090 -0.597103  0.201111
2000-01-07 -0.043353  0.429970 -0.459346  0.198444
2000-01-08  0.138110  0.135907 -0.410375  0.148282
2000-01-09  0.139853  0.133713 -0.442450 -0.028035
2000-01-10  0.154093 -0.008234 -0.299713 -0.050883

## .ewm() Fonksiyonu
ewm bir dizi veri üzerine uygulanır. Com, span, halflife bağımsız değişkeninden herhangi birini belirtir ve bunun üzerine uygun istatistiksel işlevi uygular. Ağırlıkları katlanarak atar.

In [5]:
import pandas as pd
import numpy as np
 
df = pd.DataFrame(np.random.randn(10, 4),
   index = pd.date_range('1/1/2000', periods=10),
   columns = ['A', 'B', 'C', 'D'])
df.ewm(com=0.5).mean()

                   A         B         C         D
2000-01-01 -0.367684 -1.571519 -0.527985  0.193381
2000-01-02 -0.802137  0.046303  0.604736  1.055325
2000-01-03  0.394635  0.461775 -0.197721 -0.612993
2000-01-04  0.090116 -0.141926 -0.946305 -0.380283
2000-01-05  0.217719 -0.638869  0.309778  0.275793
2000-01-06  0.072152  0.425837 -0.670176  0.283984
2000-01-07 -0.266777  0.430568 -0.029406  1.530579
2000-01-08  0.126796  0.225972  0.164242  1.191782
2000-01-09 -0.462205  0.252791 -0.659803  0.641884
2000-01-10 -0.120596  0.724151 -0.050579  0.528849

Pencere işlevleri, eğriyi düzleştirerek veri içindeki eğilimleri grafiksel olarak bulmada büyük ölçüde kullanılır. Günlük verilerde çok fazla varyasyon varsa ve çok sayıda veri noktası mevcutsa, örnekleri almak ve çizmek bir yöntemdir ve pencere hesaplamalarını uygulamak ve sonuçları grafiğe çizmek başka bir yöntemdir. Bu yöntemlerle eğriyi veya eğilimi düzeltebiliriz.