# PYTHON Pandas - Birleştirme 2
Pandas, seri, dataframe ve panel nesnelerini kolayca birleştirmek için çeşitli olanaklar sunar.

In [ ]:
pd.concat(objs,axis=0,join='outer',join_axes=None,ignore_index=False)

- objs: Bu, seri, DataFrame veya Panel nesnelerinin bir dizisi veya eşlemesidir.
- axis: {0,1,2...}. Varsayılan değer 0
- join: {inner,outer}. Varsayılan değer outer.
- ignore_index: boolean, Varsayılan değer False. True ise, birleştirme ekseninde dizin değerlerini kullanmayın.

## Nesneleri Birleştirme
Concat işlevi, bir eksen boyunca birleştirme işlemlerini gerçekleştirmenin tüm olanaklarını sağlar. Şimdi farklı nesneler oluşturup ve birleştirme yapalım.

In [1]:
import pandas as pd

bir = pd.DataFrame({
    'id': [1,2,3,4,5],
    'isim': ['Furkan','Kemal','Sinan','Ekin','Mustafa'],
    'konu_id': ['konu1','konu2','konu3','konu4','konu5']
})

iki = pd.DataFrame({
    'id': [1,2,3,4,5],
    'isim': ['Ayşe','Merve','Zeynep','Begüm','Ceren'],
    'konu_id': ['konu2','konu1','konu4','konu3','konu5']
})

pd.concat([bir,iki])

   id     isim konu_id
0   1   Furkan   konu1
1   2    Kemal   konu2
2   3    Sinan   konu3
3   4     Ekin   konu4
4   5  Mustafa   konu5
0   1     Ayşe   konu2
1   2    Merve   konu1
2   3   Zeynep   konu4
3   4    Begüm   konu3
4   5    Ceren   konu5

Belirli anahtarları, parçalanmış dataframe'in her biriyle ilişkilendirmek istediğimizi varsayalım. Bunu keys argümanını kullanarak yapabiliriz.

In [3]:
import pandas as pd

bir = pd.DataFrame({
    'id': [1,2,3,4,5],
    'isim': ['Furkan','Kemal','Sinan','Ekin','Mustafa'],
    'konu_id': ['konu1','konu2','konu3','konu4','konu5']
})

iki = pd.DataFrame({
    'id': [1,2,3,4,5],
    'isim': ['Ayşe','Merve','Zeynep','Begüm','Ceren'],
    'konu_id': ['konu2','konu1','konu4','konu3','konu5']
})

pd.concat([bir,iki],keys=['1.Grup','2.Grup'])

          id     isim konu_id
1.Grup 0   1   Furkan   konu1
       1   2    Kemal   konu2
       2   3    Sinan   konu3
       3   4     Ekin   konu4
       4   5  Mustafa   konu5
2.Grup 0   1     Ayşe   konu2
       1   2    Merve   konu1
       2   3   Zeynep   konu4
       3   4    Begüm   konu3
       4   5    Ceren   konu5

Sonuç olarak dizini çoğaltılır ve her dizin tekrarlanır.

In [5]:
import pandas as pd

bir = pd.DataFrame({
    'id': [1,2,3,4,5],
    'isim': ['Furkan','Kemal','Sinan','Ekin','Mustafa'],
    'konu_id': ['konu1','konu2','konu3','konu4','konu5']
})

iki = pd.DataFrame({
    'id': [1,2,3,4,5],
    'isim': ['Ayşe','Merve','Zeynep','Begüm','Ceren'],
    'konu_id': ['konu2','konu1','konu4','konu3','konu5']
})

pd.concat([bir,iki],keys=['1.Grup','2.Grup'],ignore_index=True) 
## Varsayılan değer: False

          id     isim konu_id
1.Grup 0   1   Furkan   konu1
       1   2    Kemal   konu2
       2   3    Sinan   konu3
       3   4     Ekin   konu4
       4   5  Mustafa   konu5
2.Grup 0   1     Ayşe   konu2
       1   2    Merve   konu1
       2   3   Zeynep   konu4
       3   4    Begüm   konu3
       4   5    Ceren   konu5

ignore_index kullanıldığında keys özelliği geçersiz kılınır.
Eğer tüm tabloları yan yana birleştirmek istersek axis=1 değerini kullanmamız gerekiyor.

In [7]:
import pandas as pd

bir = pd.DataFrame({
    'id': [1,2,3,4,5],
    'isim': ['Furkan','Kemal','Sinan','Ekin','Mustafa'],
    'konu_id': ['konu1','konu2','konu3','konu4','konu5']
})

iki = pd.DataFrame({
    'id': [1,2,3,4,5],
    'isim': ['Ayşe','Merve','Zeynep','Begüm','Ceren'],
    'konu_id': ['konu2','konu1','konu4','konu3','konu5']
})

pd.concat([bir,iki],axis=1)

   id     isim konu_id  id    isim konu_id
0   1   Furkan   konu1   1    Ayşe   konu2
1   2    Kemal   konu2   2   Merve   konu1
2   3    Sinan   konu3   3  Zeynep   konu4
3   4     Ekin   konu4   4   Begüm   konu3
4   5  Mustafa   konu5   5   Ceren   konu5

## Append Kullanarak Birleştirme
Concat için yararlı bir kısayol, ama bunun yanında append metodu da vardır. Kullanımı concat metoduna benzer. Örnekler ile append metodunu anlamaya çalışalım.

In [8]:
import pandas as pd

bir = pd.DataFrame({
    'id': [1,2,3,4,5],
    'isim': ['Furkan','Kemal','Sinan','Ekin','Mustafa'],
    'konu_id': ['konu1','konu2','konu3','konu4','konu5']
})

iki = pd.DataFrame({
    'id': [1,2,3,4,5],
    'isim': ['Ayşe','Merve','Zeynep','Begüm','Ceren'],
    'konu_id': ['konu2','konu1','konu4','konu3','konu5']
})

bir.append(iki)

   id     isim konu_id
0   1   Furkan   konu1
1   2    Kemal   konu2
2   3    Sinan   konu3
3   4     Ekin   konu4
4   5  Mustafa   konu5
0   1     Ayşe   konu2
1   2    Merve   konu1
2   3   Zeynep   konu4
3   4    Begüm   konu3
4   5    Ceren   konu5

Append işlevi de birden çok nesne alabilir.

In [10]:
import pandas as pd

bir = pd.DataFrame({
    'id': [1,2,3,4,5],
    'isim': ['Furkan','Kemal','Sinan','Ekin','Mustafa'],
    'konu_id': ['konu1','konu2','konu3','konu4','konu5']
})

iki = pd.DataFrame({
    'id': [1,2,3,4,5],
    'isim': ['Ayşe','Merve','Zeynep','Begüm','Ceren'],
    'konu_id': ['konu2','konu1','konu4','konu3','konu5']
})

bir.append([iki,bir,iki])

   id     isim konu_id
0   1   Furkan   konu1
1   2    Kemal   konu2
2   3    Sinan   konu3
3   4     Ekin   konu4
4   5  Mustafa   konu5
0   1     Ayşe   konu2
1   2    Merve   konu1
2   3   Zeynep   konu4
3   4    Begüm   konu3
4   5    Ceren   konu5
0   1   Furkan   konu1
1   2    Kemal   konu2
2   3    Sinan   konu3
3   4     Ekin   konu4
4   5  Mustafa   konu5
0   1     Ayşe   konu2
1   2    Merve   konu1
2   3   Zeynep   konu4
3   4    Begüm   konu3
4   5    Ceren   konu5

## Zaman Serisi
Pandas, özellikle finans sektöründe, zaman serisi verileri ile çalışma süresi için sağlam bir araç sağlar. Zaman serisi verileri ile çalışırken, sık sık aşağıdakileri kullanırız.
- Zaman dizisi oluşturma
- Zaman serisini farklı frekanslara dönüştürme

Pandas, yukarıdaki görevleri yerine getirmek için nispeten kompakt ve bağımsız bir araç seti sağlar.

### Geçerli Saati Al
datetime.now () size geçerli tarih ve saati verir.

In [11]:
import pandas as pd
pd.datetime.now()

datetime.datetime(2019, 10, 1, 14, 43, 15, 726691)

### TimeStamp Oluşturma
TimeStamp verileri, değerleri zaman içindeki noktalarla ilişkilendiren timeseries verilerinin en temel türüdür.

In [19]:
import pandas as pd
pd.Timestamp('2019-09-19')

Timestamp('2019-09-19 00:00:00')

Tamsayı veya float dönüştürmek de mümkündür. Bunlar için varsayılan birim nanosaniyedir. Bununla birlikte, çoğu zaman çağlar belirtilebilecek başka bir ünitede saklanır.

In [20]:
import pandas as pd

pd.Timestamp(1587687255,unit='s')

Timestamp('2020-04-24 00:14:15')

### Bir zaman aralığı oluşturma

In [23]:
import pandas as pd

pd.date_range("11:00", "13:30", freq="30min").time

array([datetime.time(11, 0), datetime.time(11, 30), datetime.time(12, 0),
       datetime.time(12, 30), datetime.time(13, 0), datetime.time(13, 30)],
      dtype=object)

### Zaman sıklığını değiştirme

In [22]:
import pandas as pd

pd.date_range("11:00", "13:30", freq="H").time

array([datetime.time(11, 0), datetime.time(12, 0), datetime.time(13, 0)],
      dtype=object)

### Timestampe dönüştürme
Tarih benzeri nesnelerin seri veya liste benzeri nesnesini (örneğin dizeler, dönemler veya karışık) dönüştürmek için to_datetime işlevini kullanabilirsiniz.

In [24]:
import pandas as pd

pd.to_datetime(pd.Series(['Jul 31, 2009','2010-01-10', None]))

0   2009-07-31
1   2010-01-10
2          NaT
dtype: datetime64[ns]