# PYTHON Pandas - Timedelta
Timedelta, günler, saatler, dakikalar, saniyeler gibi fark birimlerinde ifade edilen zamanlardaki farklılıklardır. Hem olumlu hem de olumsuz olabilirler.
Aşağıda gösterildiği gibi çeşitli argümanlar kullanarak Timedelta nesneleri oluşturabiliriz

## String
Bir dize cümle geçirerek, bir timedelta nesnesi oluşturabiliriz.

In [2]:
import pandas as pd

pd.Timedelta('2 days 2 hours 15 minutes 30 seconds')

Timedelta('2 days 02:15:30')

## Integer
Tam sayı kullanarak ta bir Timedalta nesnesi oluşturabiliriz.

In [4]:
import pandas as pd

pd.Timedelta(6,unit='h')

Timedelta('0 days 06:00:00')

## Data Offsets
Veri uzaklıklar gibi - hafta, gün, saat, dakika, saniye, milisaniye, mikrosaniye, nanosaniye yapımında da kullanılabilir.

In [5]:
import pandas as pd

pd.Timedelta(days=2)

Timedelta('2 days 00:00:00')

## to_timedelta()
Girdi bir seri ise, girdi skaler, bir skaler ise seri oluşturacaktır, aksi takdirde bir Timedeltaindex çıkacaktır

In [6]:
import pandas as pd

pd.Timedelta(days=2)

Timedelta('2 days 00:00:00')

## Operations
Seri/ Veri çerçeveleri üzerinde çalışabilir ve datetime64[ns] serisindeki çıkarma işlemleri aracılığıyla timedelta64[ns] serisini veya zaman damgalarını oluşturabilirsiniz.
Şimdi Timedelta ve datetime nesneleriyle bir dataframe oluşturalım ve üzerinde bazı aritmetik işlemler gerçekleştirelim −

In [7]:
import pandas as pd

s = pd.Series(pd.date_range('2012-1-1', periods=3, freq='D'))
td = pd.Series([ pd.Timedelta(days=i) for i in range(3) ])
df = pd.DataFrame(dict(A = s, B = td))

df

           A      B
0 2012-01-01 0 days
1 2012-01-02 1 days
2 2012-01-03 2 days

### Ekleme İşlemi

In [8]:
import pandas as pd

s = pd.Series(pd.date_range('2012-1-1', periods=3, freq='D'))
td = pd.Series([ pd.Timedelta(days=i) for i in range(3) ])
df = pd.DataFrame(dict(A = s, B = td))
df['C']=df['A']+df['B']

df

           A      B          C
0 2012-01-01 0 days 2012-01-01
1 2012-01-02 1 days 2012-01-03
2 2012-01-03 2 days 2012-01-05

### Çıkarma İşlemi

In [10]:
import pandas as pd

s = pd.Series(pd.date_range('2012-1-1', periods=3, freq='D'))
td = pd.Series([ pd.Timedelta(days=i) for i in range(3) ])
df = pd.DataFrame(dict(A = s, B = td))
df['C']=df['A']-df['B']
df['D']=df['C']-df['B']

df

           A      B          C          D
0 2012-01-01 0 days 2012-01-01 2012-01-01
1 2012-01-02 1 days 2012-01-01 2011-12-31
2 2012-01-03 2 days 2012-01-01 2011-12-30