# PYTHON Pandas DataFrame Kullanımı

Bir veri çerçevesi iki boyutlu bir veri yapısıdır, yani veriler satır ve sütunlarda tablo şeklinde hizalanır.
Bir veri çerçevesi iki boyutlu bir veri yapısıdır, yani veriler satır ve sütunlarda tablo şeklinde hizalanır.
DataFrame Özellikleri:
- Potansiyel olarak sütunlar farklı tiptedir
- Boyut değiştirilebilir
- Satır ve sütunlanlardan oluşur
- Satır ve sütunlarda aritmatik işlemler yapılabilir

DataFrame parametreleri:
data    : Veriler ndarray, series, map, list, dict, sabitler ve başka bir veri DataFrame gibi çeşitli formları alır.
index   : index isteğe bağlı olarak kullanılır. Satır değerlerini ayarlar.
columns : Sütun işlemeri için isteğe bağlı olarak kullanılır.
dtype   : Her sütunun veri türü.
copy    : Varsayılan değer False. Bu komut (veya her neyse) verilerin kopyalanması için kullanılır.

## DataFrame Oluşturma
Bir pandas DataFrame çeşitli girişler kullanılarak oluşturulabilir:
- List
- dict
- Series
- Numpy ndarrrays
- Başka bir DataFrame
Bu bölümün sonraki bölümlerinde, bu girdileri kullanarak bir veri çerçevesinin nasıl oluşturulacağını göreceğiz.

## Boş Bir DataFrame Oluşturma

In [1]:
import pandas as pd
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

## Liste İle DataFrame Oluşturma
DataFrame tek bir liste veya liste listesi kullanılarak oluşturulabilir.

**Örnek 1**

In [2]:
import pandas as pd
data = [1,2,3,4,5]
df = pd.DataFrame(data)
print(df)

   0
0  1
1  2
2  3
3  4
4  5

**Örnek 2**

In [1]:
import pandas as pd
data = [['Furkan',20],['Kemal',25],['Ayşe',22]]
df = pd.DataFrame(data,columns=['Ad','Yaş'])
df

       Ad  Yaş
0  Furkan   20
1   Kemal   25
2    Ayşe   22

**Örnek 3**

In [2]:
import pandas as pd
data = [['Furkan',20],['Kemal',25],['Ayşe',22]]
df = pd.DataFrame(data,columns=['Ad','Yaş'],dtype=float)
df

       Ad   Yaş
0  Furkan  20.0
1   Kemal  25.0
2    Ayşe  22.0

## Dict(sözlük) İle DataFrame Oluşturma
Tüm ndarrays aynı uzunlukta olmalıdır. Dizinin uzunluğu diğer dizinin uzunluğuna eşit olmalıdır.

**Örnek 1**

In [3]:
import pandas as pd
data = {'İsim':['Furkan','Ayşe','Osman'],'Yaş':[22,25,27]}
df   = pd.DataFrame(data)
df

     İsim  Yaş
0  Furkan   22
1    Ayşe   25
2   Osman   27

**Örnek 2**

Şimdi diziler kullanarak dizinlenmiş bir veri DataFrame oluşturalım.

In [4]:
import pandas as pd
data = {'İsim':['Furkan','Ayşe','Osman'],'Yaş':[22,25,27]}
df   = pd.DataFrame(data,index=['1.Kişi','2.Kişi','3.Kişi'])
df

          İsim  Yaş
1.Kişi  Furkan   22
2.Kişi    Ayşe   25
3.Kişi   Osman   27

**Örnek 3**

Dict yapısını direk olarak kullanarak daha kısa bir şekilde yazabiliriz.

In [14]:
import pandas as pd
data = [
    {'isim':'furkan','yaş':22},
    {'isim':'Ayşe','yaş':25},
    {'isim':'Osman','yaş':27}
]
df   = pd.DataFrame(data)
print(df)

     isim  yaş
0  furkan   22
1    Ayşe   25
2   Osman   27

**Örnek 4**

In [5]:
import pandas as pd
data = [
    {'isim':'furkan','yaş':22},
    {'isim':'Ayşe','yaş':25},
    {'isim':'Osman','yaş':27}
]
df   = pd.DataFrame(data,['1.Kişi','2.Kişi','3.Kişi'])
df

          isim  yaş
1.Kişi  furkan   22
2.Kişi    Ayşe   25
3.Kişi   Osman   27

**Örnek 5**

In [8]:
import pandas as pd
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]

df1 = pd.DataFrame(data, index=['birinci', 'ikinci'], columns=['a', 'b'])
df2 = pd.DataFrame(data, index=['birinci', 'ikinci'], columns=['a', 'b1'])

df1
df2

         a  b1
birinci  1 NaN
ikinci   5 NaN

**Örnek 6**

In [9]:
import pandas as pd
data = {
    'isim': pd.Series(['Ayşe','Fatma','Hayriye','Betül'],
                      index=['a','b','c','d']),
    'meslek': pd.Series(['Doktor','Mühendis','Mimar'],
                       index=['a','b','c'])
}
df = pd.DataFrame(data)
df

      isim    meslek
a     Ayşe    Doktor
b    Fatma  Mühendis
c  Hayriye     Mimar
d    Betül       NaN

**Örnek 7**

DataFrame'den sütun değerlerini çekmek için aşağıdaki yapıyı uyguluyoruz.

In [10]:
import pandas as pd
data = {
    'isim': pd.Series(['Ayşe','Fatma','Hayriye','Betül'],
                      index=['a','b','c','d']),
    'meslek': pd.Series(['Doktor','Mühendis','Mimar'],
                       index=['a','b','c'])
}
df = pd.DataFrame(data)
df['isim']

a       Ayşe
b      Fatma
c    Hayriye
d      Betül
Name: isim, dtype: object

In [36]:
import pandas as pd
data = {
    'isim': pd.Series(['Ayşe','Fatma','Hayriye','Betül'],
                      index=['a','b','c','d']),
    'meslek': pd.Series(['Doktor','Mühendis','Mimar'],
                       index=['a','b','c'])
}
df = pd.DataFrame(data)
print(df['meslek'])

a      Doktor
b    Mühendis
c       Mimar
d         NaN
Name: meslek, dtype: object

## Pandas İle Yeni Sütun Ekleme
DataFrame verisine yeni sütun eklemek için aşağıdaki yapıyı uyguluyoruz.

In [13]:
import pandas as pd
data = {
    'isim': pd.Series(['Ayşe','Fatma','Hayriye'],
                      index=['a','b','c']),
    'meslek': pd.Series(['Doktor','Mühendis','Mimar'],
                       index=['a','b','c'])
}
df = pd.DataFrame(data)

# 1.yöntem
print('yaş sütunu eklendi:')
df['yaş'] = [24,26,32]
print(df)

print('\n')

# 2.yöntem
print('memleket sütunu eklendi:')
df['memleket'] = pd.Series(['Ankara','Sinop','Amasya'],index=['a','b','c'])
print(df)

yaş sütunu eklendi:
      isim    meslek  yaş
a     Ayşe    Doktor   24
b    Fatma  Mühendis   26
c  Hayriye     Mimar   32


memleket sütunu eklendi:
      isim    meslek  yaş memleket
a     Ayşe    Doktor   24   Ankara
b    Fatma  Mühendis   26    Sinop
c  Hayriye     Mimar   32   Amasya

## Pandas İle Sütun Silme
Yukarıda oluşturduğumuz 2 adet sütunu burada sırasıyla sileceğiz.

In [16]:
import pandas as pd
data = {
    'isim': pd.Series(['Ayşe','Fatma','Hayriye'],
                      index=['a','b','c']),
    'meslek': pd.Series(['Doktor','Mühendis','Mimar'],
                       index=['a','b','c'])
}
df = pd.DataFrame(data)
df['yaş'] = [24,26,32]
df['memleket'] = pd.Series(['Ankara','Sinop','Amasya'],index=['a','b','c'])

# 1.Yöntem
print('yaş sütunu siliniyor')
del df['yaş']
print(df)

print('\n')

# 2.Yöntem
print('memleket sütunu siliniyor')
df.pop('memleket')
print(df)

yaş sütunu siliniyor
      isim    meslek memleket
a     Ayşe    Doktor   Ankara
b    Fatma  Mühendis    Sinop
c  Hayriye     Mimar   Amasya


memleket sütunu siliniyor
      isim    meslek
a     Ayşe    Doktor
b    Fatma  Mühendis
c  Hayriye     Mimar

## Pandas İle Satır Seçimi
Pandas kütüphanesinde iki adet satır seçme şekli vardır. Bunlardan biri direk olarak etiket ismi ile, diğer ise bulunan konum ile satıra ulaşır.
Bundan sonraki işlemleri aşağıdaki DataFrame'i kullanarak göstereceğim.

In [17]:
import pandas as pd
data = {
    'harf': pd.Series(['a','b','c'],index=['birinci','ikinci','üçüncü']),
    'değer': pd.Series([1,2,3],index=['birinci','ikinci','üçüncü']),
}
df = pd.DataFrame(data)
df

        harf  değer
birinci    a      1
ikinci     b      2
üçüncü     c      3

In [19]:
import pandas as pd
data = {
    'harf': pd.Series(['a','b','c'],index=['birinci','ikinci','üçüncü']),
    'değer': pd.Series([1,2,3],index=['birinci','ikinci','üçüncü']),
}
df = pd.DataFrame(data)

# 1.Seçme Yöntemi
birinci = df.loc['ikinci']
print(birinci)

print('\n')

# 2.Seçme Yöntemi
ikinci = df.iloc[1]
print(ikinci)

harf     b
değer    2
Name: ikinci, dtype: object


harf     b
değer    2
Name: ikinci, dtype: object

Diğer bir yöntem olarak en başta kullandığımız ':' sembolü ile satılarımızı DataFrame'den çekebiliyoruz.

In [21]:
import pandas as pd
data = {
    'harf': pd.Series(['a','b','c'],index=['birinci','ikinci','üçüncü']),
    'değer': pd.Series([1,2,3],index=['birinci','ikinci','üçüncü']),
}
df = pd.DataFrame(data)

veriCek = df[1:3]
print(veriCek)

print('\n')

veriCek2 = df[0:1]
print(veriCek2)

        harf  değer
birinci    a      1

## Pandas İle Satır Ekleme
Pandas DataFrame yapısına satır eklemek için append fonksiyonu kullanılır.

In [22]:
import pandas as pd
data1 = {
    'harf': pd.Series(['a','b','c'],index=['birinci','ikinci','üçüncü']),
    'değer': pd.Series([1,2,3],index=['birinci','ikinci','üçüncü']),
}
data2 = {
    'harf': pd.Series(['d'],index=['dördüncü']),
    'değer': pd.Series([4],index=['dördüncü']),
}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

df = df1.append(df2)
df

         harf  değer
birinci     a      1
ikinci      b      2
üçüncü      c      3
dördüncü    d      4

## Pandas İle Satır Silme
Bir veri çerçevesinden satırları silmek veya bırakmak için drop etiketini kullanın. Etiket çoğaltılırsa, birden çok satır silinir.

In [1]:
import pandas as pd
data1 = {
    'harf': pd.Series(['a','b','c'],index=['birinci','ikinci','üçüncü']),
    'değer': pd.Series([1,2,3],index=['birinci','ikinci','üçüncü']),
}
data2 = {
    'harf': pd.Series(['d'],index=['dördüncü']),
    'değer': pd.Series([4],index=['dördüncü']),
}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

df = df1.append(df2)

# satır silme:
df = df.drop('dördüncü')
df

       Ad  Yaş
0  Furkan   20
1   Kemal   25
2    Ayşe   22