# PYTHON Pandas Temel Fonksiyonlar
Şimdiye kadar, üç pandas veri yapısı ve bunları nasıl oluşturulacağını öğrendik. Gerçek zamanlı veri işlemedeki önemi nedeniyle şu an dataframe nesnelerine odaklanacağız ve diğer birkaç veri yapısını değineceğiz.

## Serilerin Temel Fonksiyonları
- axes     : Satır ekseni etiketlerinin listesini döndürür.
- dtype    : dtype nesnesi döndürür.
- empty    : Seri boş işe false döndürür.
- ndim     : Temel alınan verilerin boyutlarının sayısını tanım 1 olarak döndürür.
- size     : Temel veri öğeleri sayısını döndürür.
- values   : Seriyi ndarray olarak döndürür.
- head     : İlk n satırlarını döndürür.
- tail     : Son n satırlarını döndürür.
Şimdi yukarıdaki yapıları örnekler ile pekiştirelim.

**Örnek 1**

In [2]:
import pandas as pd
import numpy as np

s = pd.Series(np.random.randn(4))
print(s)

0    1.373370
1   -0.960120
2    0.143523
3    0.553266
dtype: float64

**Örnek 2 (axes)** 
Satır ekseni etiketlerinin listesini döndürür.

In [4]:
import pandas as pd
import numpy as np

s = pd.Series(np.random.randn(4))
print(s.axes)
# start: başlangıç
# end  : son
# step : artış sayısı

[RangeIndex(start=0, stop=4, step=1)]

**Örnek 3(empty)**
dtype nesnesi döndürür.

In [1]:
import pandas as pd

import numpy as np

s = pd.Series(np.random.randn(4))
print(s.empty)
# boş ise false
# boş değilse true

False

**Örnek 4(ndim)** 
Temel alınan verilerin boyutlarının sayısını tanım 1 olarak döndürür.

In [16]:
import pandas as pd
import numpy as np

s = pd.Series(np.random.randn(4))
print(s.ndim)

1

**Örnek 5(size)**
Temel veri öğeleri sayısını döndürür.

In [19]:
import pandas as pd
import numpy as np

s = pd.Series(np.random.randn(4))
print(s.size)

4

**Örnek 6(values)**
 Seriyi ndarray olarak döndürür.

In [21]:
import pandas as pd
import numpy as np

s = pd.Series(np.random.randn(4))
print(s.values)

[0.22313449 0.40836713 1.72190058 0.84874151]

**Örnek 7(head)**
İlk n satırlarını döndürür.

In [49]:
import pandas as pd
import numpy as np

s = pd.Series(np.random.randn(4))
print(s.head(2))

0    0.405320
1    2.096544
dtype: float64

**Örnek 8(tail)**
Son n satırlarını döndürür.

In [23]:
import pandas as pd
import numpy as np

s = pd.Series(np.random.randn(4))
print(s.tail(2))

2    1.790909
3   -1.439368
dtype: float64

# PYTHON Pandas Temel Fonksiyonlar
Şimdi DataFrame temel işlevselliğinin ne olduğunu anladık. Aşağıdaki tablolarda, önemli öznitelikleri veya DataFrame temel işlevlerinde yardımcı olan yöntemleri listeli.

## Serilerin Temel Fonksiyonları
- T        : Satırları ve sütunları Transposesi.
- axes     : satır ekseni etiketleri ve sütun ekseni etiketleri içeren bir liste döndürür.
- dtype    : dtype nesnesi döndürür.
- empty    : DataFrame boş işe false döndürür.
- ndim     : Eksen sayısı / dizi boyutu.
- shape    : DataFrame boyutunu temsil eden bir tanımlama grubu döndürür.
- size     : Ndframe öğe sayısını döndürür.
- values   : Ndframe'i numpy olarak döndürür.
- head     : İlk n satırlarını döndürür.
- tail     : Son n satırlarını döndürür.

Şimdi aynı şekilde yukardaki yapılara örnekler vererek konuyu pekiştirelim.

**Örnek 1**

In [1]:
import pandas as pd
import numpy as np

# Series yardımıyla bir dict oluşturalım
data = {
    'Ad': pd.Series(['Furkan','Kemal','Osman','Zeynep','Fatma','Buse']),
    'Yaş': pd.Series([21,25,30,24,28,26]),
    'Meslek': pd.Series(['mühendis','doktor','polis','mimar','avukat','öğretmen'])
}
df = pd.DataFrame(data)
df

       Ad  Yaş    Meslek
0  Furkan   21  mühendis
1   Kemal   25    doktor
2   Osman   30     polis
3  Zeynep   24     mimar
4   Fatma   28    avukat
5    Buse   26  öğretmen

**Örnek 1(T)** 
Satırları ve sütunları Transposesi.

In [2]:
import pandas as pd
import numpy as np

data = {
    'Ad': pd.Series(['Furkan','Kemal','Osman','Zeynep','Fatma','Buse']),
    'Yaş': pd.Series([21,25,30,24,28,26]),
    'Meslek': pd.Series(['mühendis','doktor','polis','mimar','avukat','öğretmen'])
}
df = pd.DataFrame(data)
df.T

               0       1      2       3       4         5
Ad        Furkan   Kemal  Osman  Zeynep   Fatma      Buse
Yaş           21      25     30      24      28        26
Meslek  mühendis  doktor  polis   mimar  avukat  öğretmen

**Örnek 2(axes)** 
satır ekseni etiketleri ve sütun ekseni etiketleri içeren bir liste döndürür.

In [30]:
import pandas as pd
import numpy as np

data = {
    'Ad': pd.Series(['Furkan','Kemal','Osman','Zeynep','Fatma','Buse']),
    'Yaş': pd.Series([21,25,30,24,28,26]),
    'Meslek': pd.Series(['mühendis','doktor','polis','mimar','avukat','öğretmen'])
}
df = pd.DataFrame(data)
print(df.axes)
# index: satır değerleri
# dtype: veri türü

[RangeIndex(start=0, stop=6, step=1), Index(['Ad', 'Yaş', 'Meslek'], dtype='object')]

**Örnek 3(dtypes)** 
dtype nesnesi döndürür.

In [3]:
import pandas as pd
import numpy as np

data = {
    'Ad': pd.Series(['Furkan','Kemal','Osman','Zeynep','Fatma','Buse']),
    'Yaş': pd.Series([21,25,30,24,28,26]),
    'Meslek': pd.Series(['mühendis','doktor','polis','mimar','avukat','öğretmen'])
}
df = pd.DataFrame(data)
df.dtypes

Ad        object
Yaş        int64
Meslek    object
dtype: object

**Örnek 4(empty)** 
DataFrame boş işe false döndürür.

In [34]:
import pandas as pd
import numpy as np

data = {
    'Ad': pd.Series(['Furkan','Kemal','Osman','Zeynep','Fatma','Buse']),
    'Yaş': pd.Series([21,25,30,24,28,26]),
    'Meslek': pd.Series(['mühendis','doktor','polis','mimar','avukat','öğretmen'])
}
df = pd.DataFrame(data)
print(df.empty)
# boş mu?
# hayır -> false
# evet  -> true

False

**Örnek 5(ndim)** 
Eksen sayısı / dizi boyutu.

In [35]:
import pandas as pd
import numpy as np

data = {
    'Ad': pd.Series(['Furkan','Kemal','Osman','Zeynep','Fatma','Buse']),
    'Yaş': pd.Series([21,25,30,24,28,26]),
    'Meslek': pd.Series(['mühendis','doktor','polis','mimar','avukat','öğretmen'])
}
df = pd.DataFrame(data)
print(df.ndim)

2

**Örnek 6(shape)** 
DataFrame boyutunu temsil eden bir tanımlama grubu döndürür.

In [37]:
import pandas as pd
import numpy as np

data = {
    'Ad': pd.Series(['Furkan','Kemal','Osman','Zeynep','Fatma','Buse']),
    'Yaş': pd.Series([21,25,30,24,28,26]),
    'Meslek': pd.Series(['mühendis','doktor','polis','mimar','avukat','öğretmen'])
}
df = pd.DataFrame(data)
print(df.shape)
# (satır sayısı, sütun sayısı)

(6, 3)

**Örnek 7(size)** 
Ndframe öğe sayısını döndürür.

In [38]:
import pandas as pd
import numpy as np

data = {
    'Ad': pd.Series(['Furkan','Kemal','Osman','Zeynep','Fatma','Buse']),
    'Yaş': pd.Series([21,25,30,24,28,26]),
    'Meslek': pd.Series(['mühendis','doktor','polis','mimar','avukat','öğretmen'])
}
df = pd.DataFrame(data)
print(df.size)

18

**Örnek 8(values)** 
Ndframe'i numpy olarak döndürür.

In [4]:
import pandas as pd
import numpy as np

data = {
    'Ad': pd.Series(['Furkan','Kemal','Osman','Zeynep','Fatma','Buse']),
    'Yaş': pd.Series([21,25,30,24,28,26]),
    'Meslek': pd.Series(['mühendis','doktor','polis','mimar','avukat','öğretmen'])
}
df = pd.DataFrame(data)
df.values

array([['Furkan', 21, 'mühendis'],
       ['Kemal', 25, 'doktor'],
       ['Osman', 30, 'polis'],
       ['Zeynep', 24, 'mimar'],
       ['Fatma', 28, 'avukat'],
       ['Buse', 26, 'öğretmen']], dtype=object)

**Örnek 9(head)** 
İlk n satırlarını döndürür.

In [5]:
import pandas as pd
import numpy as np

data = {
    'Ad': pd.Series(['Furkan','Kemal','Osman','Zeynep','Fatma','Buse']),
    'Yaş': pd.Series([21,25,30,24,28,26]),
    'Meslek': pd.Series(['mühendis','doktor','polis','mimar','avukat','öğretmen'])
}
df = pd.DataFrame(data)
df.head(3)

       Ad  Yaş    Meslek
0  Furkan   21  mühendis
1   Kemal   25    doktor
2   Osman   30     polis

**Örnek 10(tail)** 
Son n satırlarını döndürür.

In [6]:
import pandas as pd
import numpy as np

data = {
    'Ad': pd.Series(['Furkan','Kemal','Osman','Zeynep','Fatma','Buse']),
    'Yaş': pd.Series([21,25,30,24,28,26]),
    'Meslek': pd.Series(['mühendis','doktor','polis','mimar','avukat','öğretmen'])
}
df = pd.DataFrame(data)
df.tail(2)

      Ad  Yaş    Meslek
4  Fatma   28    avukat
5   Buse   26  öğretmen