# PYTHON Pandas Tanımlayıcı İstatistikler
Çok sayıda yöntem, tanımlayıcı istatistikleri ve Dataframe'deki diğer ilgili işlemleri toplu olarak hesaplar. Bunların sum(), mean () gibi toplamalardır, ancak bazıları sumsum () gibi aynı boyutta bir nesne üretir. Genel olarak, bu yöntemler ndarray gibi bir eksen argümanı alır,{sum, std,...}, ancak eksen adı veya tamsayı ile belirtilebilir.

Bir DataFrame oluşturalım ve tüm işlemler için bu bölüm boyunca bu nesneyi kullanalım.

In [1]:
import pandas as pd
import numpy as np

# dict ile bir data oluşturalım
data = {
    'Ad': pd.Series([
        'Furkan',
        'Kemal',
        'Osman',
        'Mehmet',
        'Şaban',
        'Zeynep',
        'Fatma',
        'Buse',
        'İrem',
        'Nihal'
    ]),
    'Yaş': pd.Series([
        21,
        25,
        30,
        24,
        28,
        26,
        29,
        32,
        21,
        25
    ]),
    'Meslek': pd.Series([
        'mühendis',
        'doktor',
        'polis',
        'pilot',
        'komedyen',
        'mimar',
        'avukat',
        'öğretmen',
        'diyetisyen',
        'hemşire'
    ])
}
df = pd.DataFrame(data)
df

       Ad  Yaş      Meslek
0  Furkan   21    mühendis
1   Kemal   25      doktor
2   Osman   30       polis
3  Mehmet   24       pilot
4   Şaban   28    komedyen
5  Zeynep   26       mimar
6   Fatma   29      avukat
7    Buse   32    öğretmen
8    İrem   21  diyetisyen
9   Nihal   25     hemşire

## Sum()
İstenen eksen için değerlerin toplamını döndürür. Varsayılan olarak, eksen dizinidir (eksen = 0).

In [2]:
import pandas as pd
import numpy as np

data = {
    'Ad': pd.Series(['Furkan','Kemal','Osman','Mehmet','Şaban','Zeynep','Fatma','Buse','İrem','Nihal']),
    'Yaş': pd.Series([21,25,30,24,28,26,29,32,21,25]),
    'Meslek': pd.Series(['mühendis','doktor','polis','pilot','komedyen','mimar','avukat','öğretmen','diyetisyen','hemşire'])
}
df = pd.DataFrame(data)
df.sum()
# varsayılan değer: sum() = sum(0)

Ad        FurkanKemalOsmanMehmetŞabanZeynepFatmaBuseİrem...
Yaş                                                     261
Meslek    mühendisdoktorpolispilotkomedyenmimaravukatöğr...
dtype: object

Her bir sütun ayrı ayrı eklenir (dizeler eklenir).

**axis=1**

In [3]:
import pandas as pd
import numpy as np

data = {
    'Ad': pd.Series(['Furkan','Kemal','Osman','Mehmet','Şaban','Zeynep','Fatma','Buse','İrem','Nihal']),
    'Yaş': pd.Series([21,25,30,24,28,26,29,32,21,25]),
    'Meslek': pd.Series(['mühendis','doktor','polis','pilot','komedyen','mimar','avukat','öğretmen','diyetisyen','hemşire'])
}
df = pd.DataFrame(data)
df.sum(1)

0    21
1    25
2    30
3    24
4    28
5    26
6    29
7    32
8    21
9    25
dtype: int64

## Mean()
Ortalamanın değerini döndürür.

In [24]:
import pandas as pd
import numpy as np

data = {
    'Ad': pd.Series(['Furkan','Kemal','Osman','Mehmet','Şaban','Zeynep','Fatma','Buse','İrem','Nihal']),
    'Yaş': pd.Series([21,25,30,24,28,26,29,32,21,25]),
    'Meslek': pd.Series(['mühendis','doktor','polis','pilot','komedyen','mimar','avukat','öğretmen','diyetisyen','hemşire'])
}
df = pd.DataFrame(data)
print(df.mean())

Yaş    26.1
dtype: float64

## Std()
Sayısal sütunların standart sapmasını döndürür.

In [25]:
import pandas as pd
import numpy as np

data = {
    'Ad': pd.Series(['Furkan','Kemal','Osman','Mehmet','Şaban','Zeynep','Fatma','Buse','İrem','Nihal']),
    'Yaş': pd.Series([21,25,30,24,28,26,29,32,21,25]),
    'Meslek': pd.Series(['mühendis','doktor','polis','pilot','komedyen','mimar','avukat','öğretmen','diyetisyen','hemşire'])
}
df = pd.DataFrame(data)
print(df.std())

Yaş    3.665151
dtype: float64

# Fonsiyonlar Ve Açıklamaları
Şimdi Python pandastaki tanımlayıcı istatistikler altındaki işlevleri anlayalım. Aşağıdaki tabloda önemli işlevlerin kendisi ve açıklamarı verilmiştir:
- count()  : Boş olmayan gözlemlerin sayısı.
- sum()    : Değerlerin toplamı.
- mean()   : Değerlerin ortalaması.
- median() : Değerlerin medyanı.
- mode()   : Değerlerin modu.
- std()    : Değerlerin standart sapması
- max()    : Değerlerin en büyüğü.
- min()    : Değerlerin en küçüğü.
- abs()    : Değerlerin mutlak değeri.
- prod()   : Değerlerin çarpımı.
- cumsum() : Değerlerin kümülatif toplamı.
- cumprod(): Değerlerin kümülatif ürünü.

**NOT:** Dataframe heterojen bir veri yapısı olduğundan genel işlemler tüm işlevleri ile çalışmaz.

**Örnek 1(count)** 
Boş olmayan gözlemlerin sayısı.

In [4]:
import pandas as pd
import numpy as np

data = {
    'Ad': pd.Series(['Furkan','Kemal','Osman','Mehmet','Şaban','Zeynep','Fatma','Buse','İrem','Nihal']),
    'Yaş': pd.Series([21,25,30,24,28,26,29,32,21,25]),
    'Meslek': pd.Series(['mühendis','doktor','polis','pilot','komedyen','mimar','avukat','öğretmen','diyetisyen','hemşire'])
}
df = pd.DataFrame(data)
df.count()

Ad        10
Yaş       10
Meslek    10
dtype: int64

**Örnek 2(mean)** 
Değerlerin ortalaması.

In [33]:
import pandas as pd
import numpy as np

data = {
    'Ad': pd.Series(['Furkan','Kemal','Osman','Mehmet','Şaban','Zeynep','Fatma','Buse','İrem','Nihal']),
    'Yaş': pd.Series([21,25,30,24,28,26,29,32,21,25]),
    'Meslek': pd.Series(['mühendis','doktor','polis','pilot','komedyen','mimar','avukat','öğretmen','diyetisyen','hemşire'])
}
df = pd.DataFrame(data)
print(df.mean())

Yaş    26.1
dtype: float64

**Örnek 3(median)** 
Değerlerin medyanı.

In [34]:
import pandas as pd
import numpy as np

data = {
    'Ad': pd.Series(['Furkan','Kemal','Osman','Mehmet','Şaban','Zeynep','Fatma','Buse','İrem','Nihal']),
    'Yaş': pd.Series([21,25,30,24,28,26,29,32,21,25]),
    'Meslek': pd.Series(['mühendis','doktor','polis','pilot','komedyen','mimar','avukat','öğretmen','diyetisyen','hemşire'])
}
df = pd.DataFrame(data)
print(df.median())

Yaş    25.5
dtype: float64

**Örnek 4(mode)** 
Değerlerin modu.

In [5]:
import pandas as pd
import numpy as np

data = {
    'Ad': pd.Series(['Furkan','Kemal','Osman','Mehmet','Şaban','Zeynep','Fatma','Buse','İrem','Nihal']),
    'Yaş': pd.Series([21,25,30,24,28,26,29,32,21,25]),
    'Meslek': pd.Series(['mühendis','doktor','polis','pilot','komedyen','mimar','avukat','öğretmen','diyetisyen','hemşire'])
}
df = pd.DataFrame(data)
df.mode()

       Ad   Yaş      Meslek
0    Buse  21.0      avukat
1   Fatma  25.0  diyetisyen
2  Furkan   NaN      doktor
3   Kemal   NaN     hemşire
4  Mehmet   NaN    komedyen
5   Nihal   NaN       mimar
6   Osman   NaN    mühendis
7  Zeynep   NaN       pilot
8    İrem   NaN       polis
9   Şaban   NaN    öğretmen

Burada mode fonksiyonu kısmi olarak çalışmıyor. Bunun nedeni verilerin içinde stringlerin yani yazıların bulunması. Eğer bütün değerler sayı olursa o zaman bu fonksiyon düzgün çalışır.

**Örnek 5(max)** 
Değerlerin en büyüğü.

In [6]:
import pandas as pd
import numpy as np

data = {
    'Ad': pd.Series(['Furkan','Kemal','Osman','Mehmet','Şaban','Zeynep','Fatma','Buse','İrem','Nihal']),
    'Yaş': pd.Series([21,25,30,24,28,26,29,32,21,25]),
    'Meslek': pd.Series(['mühendis','doktor','polis','pilot','komedyen','mimar','avukat','öğretmen','diyetisyen','hemşire'])
}
df = pd.DataFrame(data)
df.max()

Ad           Şaban
Yaş             32
Meslek    öğretmen
dtype: object

Burada başka bir int türünde değer olmadığı için tek int türü olan yaş sütununa göre en büyük değeri hesaplıyor.

In [53]:
import pandas as pd 
  
df = pd.DataFrame({"A":[14, 4, 5, 4, 1], 
                   "B":[5, 2, 54, 3, 2],
                   "C":[20, 20, 7, 3, 8],
                   "D":[14, 3, 6, 2, 6]}) 
print(df.max())

A    14
B    54
C    20
D    14
dtype: int64

**Örnek 6(min)** 
Değerlerin en küçüğü.

In [51]:
import pandas as pd
import numpy as np

data = {
    'Ad': pd.Series(['Furkan','Kemal','Osman','Mehmet','Şaban','Zeynep','Fatma','Buse','İrem','Nihal']),
    'Yaş': pd.Series([21,25,30,24,28,26,29,32,21,25]),
    'Meslek': pd.Series(['mühendis','doktor','polis','pilot','komedyen','mimar','avukat','öğretmen','diyetisyen','hemşire'])
}
df = pd.DataFrame(data)
print(df.min())

Ad          Buse
Yaş           21
Meslek    avukat
dtype: object

**Örnek 7(abs)** 
Değerlerin mutlak değeri.

In [52]:
import pandas as pd
import numpy as np

data = {
    'Ad': pd.Series(['Furkan','Kemal','Osman','Mehmet','Şaban','Zeynep','Fatma','Buse','İrem','Nihal']),
    'Yaş': pd.Series([21,25,30,24,28,26,29,32,21,25]),
    'Meslek': pd.Series(['mühendis','doktor','polis','pilot','komedyen','mimar','avukat','öğretmen','diyetisyen','hemşire'])
}
df = pd.DataFrame(data)
print(df.abs())

TypeError: bad operand type for abs(): 'str'

Yukarıdaki yapı çalışmayacaktır. Sebebi DataFrame içerisinde str türünde değerlerin olmasıdır.

In [7]:
import pandas as pd 
  
df = pd.DataFrame({"A":[14, -4, 5, -4, 1], 
                   "B":[5, -2, 54, 3, -2],
                   "C":[-20, 20, 7, 3, 8],
                   "D":[-14, 3, 6, 2, -6]}) 
df.abs()

    A   B   C   D
0  14   5  20  14
1   4   2  20   3
2   5  54   7   6
3   4   3   3   2
4   1   2   8   6

**Örnek 8(prod)** 
Değerlerin çarpımı.

In [56]:
import pandas as pd
import numpy as np

data = {
    'Ad': pd.Series(['Furkan','Kemal','Osman','Mehmet','Şaban','Zeynep','Fatma','Buse','İrem','Nihal']),
    'Yaş': pd.Series([21,25,30,24,28,26,29,32,21,25]),
    'Meslek': pd.Series(['mühendis','doktor','polis','pilot','komedyen','mimar','avukat','öğretmen','diyetisyen','hemşire'])
}
df = pd.DataFrame(data)
print(df.prod())

Yaş    134069644800000
dtype: int64

Buradak tek int değeri olduğu için ona göre hesapladı.

In [57]:
import pandas as pd 
  
df = pd.DataFrame({"A":[14, 4, 5, 4, 1], 
                   "B":[5, 2, 54, 3, 2],
                   "C":[20, 20, 7, 3, 8],
                   "D":[14, 3, 6, 2, 6]}) 
print(df.prod())

A     1120
B     3240
C    67200
D     3024
dtype: int64

**Örnek 9(cumsum)** 
Değerlerin kümülatif toplamı.

In [8]:
import pandas as pd 
  
df = pd.DataFrame({"A":[14, 4, 5, 4, 1], 
                   "B":[5, 2, 54, 3, 2],
                   "C":[20, 20, 7, 3, 8],
                   "D":[14, 3, 6, 2, 6]}) 
df.cumsum()

    A   B   C   D
0  14   5  20  14
1  18   7  40  17
2  23  61  47  23
3  27  64  50  25
4  28  66  58  31

**Örnek 10(cumprod)** 
Değerlerin kümülatif ürünü.

In [9]:
import pandas as pd 
  
df = pd.DataFrame({"A":[14, 4, 5, 4, 1], 
                   "B":[5, 2, 54, 3, 2],
                   "C":[20, 20, 7, 3, 8],
                   "D":[14, 3, 6, 2, 6]}) 
df.cumprod()

      A     B      C     D
0    14     5     20    14
1    56    10    400    42
2   280   540   2800   252
3  1120  1620   8400   504
4  1120  3240  67200  3024

## Pandas İle Verileri Özetleme
Describe () işlevi, dataframe sütunlarına ilişkin istatistiklerin bir özetini hesaplar.

In [10]:
import pandas as pd
import numpy as np

data = {
    'Ad': pd.Series(['Furkan','Kemal','Osman','Mehmet','Şaban','Zeynep','Fatma','Buse','İrem','Nihal']),
    'Yaş': pd.Series([21,25,30,24,28,26,29,32,21,25]),
    'Meslek': pd.Series(['mühendis','doktor','polis','pilot','komedyen','mimar','avukat','öğretmen','diyetisyen','hemşire']),
    'Maaş': pd.Series([1000,2000,3000,5000,4000,3000,6000,2000,3000,4000])
}
df = pd.DataFrame(data)
df.describe()

             Yaş         Maaş
count  10.000000    10.000000
mean   26.100000  3300.000000
std     3.665151  1494.434118
min    21.000000  1000.000000
25%    24.250000  2250.000000
50%    25.500000  3000.000000
75%    28.750000  4000.000000
max    32.000000  6000.000000

Bu tabloyu daha güzel okumak için T metodunu kullanabiliriz. Sütun sayısı artınca bu yukarıda verdiğim yapıdan çok aşağıdaki yapı kullanılır.

In [11]:
import pandas as pd
import numpy as np

data = {
    'Ad': pd.Series(['Furkan','Kemal','Osman','Mehmet','Şaban','Zeynep','Fatma','Buse','İrem','Nihal']),
    'Yaş': pd.Series([21,25,30,24,28,26,29,32,21,25]),
    'Meslek': pd.Series(['mühendis','doktor','polis','pilot','komedyen','mimar','avukat','öğretmen','diyetisyen','hemşire']),
    'Maaş': pd.Series([1000,2000,3000,5000,4000,3000,6000,2000,3000,4000])
}
df = pd.DataFrame(data)
df.describe().T

      count    mean          std     min      25%     50%      75%     max
Yaş    10.0    26.1     3.665151    21.0    24.25    25.5    28.75    32.0
Maaş   10.0  3300.0  1494.434118  1000.0  2250.00  3000.0  4000.00  6000.0

Bu işlev mean, std ve IQR değerlerini verir. Ve, işlev karakter sütunları ve sayısal sütunlar hakkında bilgiler verir. 'include', özetlemek için hangi sütunların dikkate alınması gerektiğine ilişkin gerekli bilgileri iletmek için kullanılan argümandır.
- object : Object sütunlarını özetler
- number : Number sütunlarını özetler

In [12]:
import pandas as pd
import numpy as np

data = {
    'Ad': pd.Series(['Furkan','Kemal','Osman','Mehmet','Şaban','Zeynep','Fatma','Buse','İrem','Nihal']),
    'Yaş': pd.Series([21,25,30,24,28,26,29,32,21,25]),
    'Meslek': pd.Series(['mühendis','doktor','polis','pilot','komedyen','mimar','avukat','öğretmen','diyetisyen','hemşire']),
    'Maaş': pd.Series([1000,2000,3000,5000,4000,3000,6000,2000,3000,4000])
}
df = pd.DataFrame(data)
df.describe(include=['object'])

           Ad    Meslek
count      10        10
unique     10        10
top     Osman  öğretmen
freq        1         1

In [13]:
import pandas as pd
import numpy as np

data = {
    'Ad': pd.Series(['Furkan','Kemal','Osman','Mehmet','Şaban','Zeynep','Fatma','Buse','İrem','Nihal']),
    'Yaş': pd.Series([21,25,30,24,28,26,29,32,21,25]),
    'Meslek': pd.Series(['mühendis','doktor','polis','pilot','komedyen','mimar','avukat','öğretmen','diyetisyen','hemşire']),
    'Maaş': pd.Series([1000,2000,3000,5000,4000,3000,6000,2000,3000,4000])
}
df = pd.DataFrame(data)
df.describe(include=['number'])

             Yaş         Maaş
count  10.000000    10.000000
mean   26.100000  3300.000000
std     3.665151  1494.434118
min    21.000000  1000.000000
25%    24.250000  2250.000000
50%    25.500000  3000.000000
75%    28.750000  4000.000000
max    32.000000  6000.000000