# PYTHON Pandas Fonksiyon Uygulama
Kendi veya başka bir kütüphanenin işlevlerini pandas nesnelerine uygulamak için üç önemli yöntemin farkında olmalısınız. Kullanılacak uygun yöntem, işlevinizin tüm DataFrame, row veya column - wise veya element wise üzerinde çalışmasını bekleyip beklemediğine bağlıdır.
- Tablo Fonksiyon Uygulaması: pipe()
- Satır veya Sütun Fonksiyon Uygulaması: apply()
- Eleman Fonksiyon Uygulaması: applymap()

## Tablo Fonksiyon Uygulaması: apply()
Özel işlemler işlevi ve boru bağımsız değişkenleri olarak parametrelerin uygun sayıda geçirerek gerçekleştirilebilir. Böylece, işlem tüm veri üzerinde gerçekleştirilir. 
Örneğin, Dataframe'deki tüm öğelere değer olarak 2 ekleyin.

In [1]:
def ekleme(ele1,ele2):
    return ele1 + ele2

Şimdi DataFrame üzerinde işlem yapmak için özel işlevi kullanacağız.

In [ ]:
df = pd.DataFrame(np.random.randn(5,3),columns=['sutun1','sutun2','sutun3'])
df.pipe(ekleme,2)

Tam programı görelim:

In [36]:
import pandas as pd
import numpy as np

def ekleme(ele1,ele2):
    return ele1 + ele2

df = pd.DataFrame(np.random.randn(5,3),columns=['sutun1','sutun2','sutun3'])
df.pipe(ekleme,2)

     sutun1    sutun2    sutun3
0  3.444891  3.390373  1.838314
1  1.116019  2.015870  1.563431
2  3.615770  1.656108  1.313535
3  2.217141 -1.208859  0.698390
4  2.975013 -0.120729  3.568476

## Satır veya Sütun Fonksiyon Uygulaması
Tanımlayıcı istatistik yöntemleri gibi isteğe bağlı bir eksen argümanı alan apply() yöntemini kullanarak bir veri çerçevesinin veya panelin eksenleri boyunca keyfi işlevler uygulanabilir. Varsayılan olarak, işlem, her sütunu bir dizi benzeri olarak alarak column wise gerçekleştirir.

**Örnek 1**

In [40]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(5,3),columns=['sutun1','sutun2','sutun3'])
df.apply(np.mean)

sutun1   -0.351974
sutun2   -0.495009
sutun3    0.111530
dtype: float64

**Örnek 2**

In [18]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(5,3),columns=['sutun1','sutun2','sutun3'])
df.apply(lambda x: x.max() - x.min())

sutun1    0.433517
sutun2    2.410229
sutun3    1.663377
dtype: float64

**Örnek 3**

In [25]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(5,3),columns=['sutun1','sutun2','sutun3'])
df.apply(np.mean, axis=1)

0   -0.923194
1   -0.584883
2    0.309061
3    0.217995
4   -0.873165
dtype: float64

Eksen parametresi geçirerek, tabloyu row yapısına dönüştürdük.

## Element Fonksiyon Uygulaması
Tüm işlevler vektörleştirilemez (ne başka bir dizi ne de herhangi bir değer döndüren NumPy dizileri), dataframe'deki applymap () yöntemleri ve serilerdeki benzer şekilde map (), tek bir değer alan ve tek bir değer döndüren herhangi bir Python işlevini kabul eder.

**Örnek 1**

In [34]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(5,3),columns=['sutun1','sutun2','sutun3'])
df['sutun1'].map(lambda x: x*100)

0    110.724381
1   -117.182626
2   -144.942798
3     17.917625
4     70.566406
Name: sutun1, dtype: float64

**Örnek 2**

In [32]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(5,3),columns=['sutun1','sutun2','sutun3'])
df.applymap(lambda x:x*100)

       sutun1     sutun2      sutun3
0  211.455295 -73.292867   75.056796
1  -58.301220 -12.748636  160.021287
2   51.575829 -24.679839  -95.600926
3   27.966831 -69.207877   46.247728
4   30.243748  92.220954 -167.328170