# PYTHON Pandas Yeniden Endeskleme(Reindexing)
Satır etiketleri ve sütun etiketleri bir DataFrame reindexing değiştirir. Reindex'e, belirli bir eksen boyunca belirli bir etiket kümesiyle eşleşecek şekilde verileri uyması anlamına gelir.
Çoklu işlemler aşağıdaki gibi indeksleme yoluyla gerçekleştirilebilir:
- Varolan verileri yeni bir etiket kümesiyle eşleşecek şekilde yeniden sıralayın.
- Eksik değer (NA) işaretçileri, etiketin veri olmadığı etiket konumlarına ekleyin.

**Örnek**

In [1]:
import pandas as pd
import numpy as np

N = 20
df = pd.DataFrame({
    'A': pd.date_range(start='2017-01-01',periods=N,freq='D'),
    'x': np.linspace(0,stop=N,num=N),
    'y': np.random.randn(N),
    'C': np.random.choice(['Low','Medium','High'],N).tolist(),
    'D': np.random.normal(100,10,size=(N)).tolist()
})

df_reindexed = df.reindex(index=[0,2,5],columns=['A','C','B'])
df_reindexed

           A       C   B
0 2017-01-01    High NaN
2 2017-01-03    High NaN
5 2017-01-06  Medium NaN

**Not:** Yukarıda bulunan birkaç numpy özelliğini burada kısaca anlatayım.
- tolist(): Dizi verilerinin bir kopyasını (iç içe geçmiş) bir Python listesi olarak döndürür. Veri öğeleri, öğe işlevi aracılığıyla en yakın uyumlu yerleşik Python türüne dönüştürülür.
- linspace(): Belirtilen aralıkta eşit aralıklı sayılar döndürür.
- choice(): Belirli bir 1-D dizisinden rastgele bir örnek oluşturur.

## Diğer nesnelerle hizalamak için Reindex
Bir nesneyi almak ve eksenini başka bir nesneyle aynı şekilde etiketlemek için yeniden tanımlamak isteyebilirsiniz. Aynı olayını anlamak için aşağıdaki örneği göz atın.

In [5]:
import pandas as pd
import numpy as np

df1 = pd.DataFrame(np.random.randn(10,3),columns=['col1','col2','col3'])
df2 = pd.DataFrame(np.random.randn(7,3),columns=['col1','col2','col3'])

df1 = df1.reindex_like(df2)
df1

       col1      col2      col3
0  1.907253  0.304880  1.761830
1 -0.190693 -0.690875  0.116094
2 -1.387675 -0.768699  0.913073
3 -1.905118 -0.047193 -0.436589
4  0.504060  1.737231 -1.703080
5 -0.316496  1.331819  1.186241
6 -1.044460 -0.919419  0.308286

## Reindexing sırasında doldurma
reindex () aşağıdaki gibi değerlere sahip bir doldurma yöntemi olan isteğe bağlı bir parametre yöntemi alır.
- pad/ffill: Değerleri ileri doldurur.
- bfill/backfill: Değerleri geriye doğru doldurur.
- nearest: En yakın dizin değerlerinden doldurur.

**Örnek**

In [5]:
import pandas as pd
import numpy as np

df1 = pd.DataFrame(np.random.randn(6,3),columns=['col1','col2','col3'])
df2 = pd.DataFrame(np.random.randn(2,3),columns=['col1','col2','col3'])

print(df2.reindex_like(df1))

print("İleri doldurma ile DataFrame:")
print(df2.reindex_like(df1,method='ffill'))

İleri doldurma ile DataFrame:

       col1      col2      col3
0  2.026985  0.676323 -0.091326
1 -0.382700  0.084232  0.409528
2 -0.382700  0.084232  0.409528
3 -0.382700  0.084232  0.409528
4 -0.382700  0.084232  0.409528
5 -0.382700  0.084232  0.409528

## Reindexing sırasında doldurma sınırları
Limit bağımsız değişkeni reindexing sırasında doldurma üzerinde ek denetim sağlar. Limit ardışık eşleşmelerin maksimum sayısını belirtir. Bu olayı anlamak için aşağıdaki örneği ele alalım.

**Örnek**

In [7]:
import pandas as pd
import numpy as np
 
df1 = pd.DataFrame(np.random.randn(6,3),columns=['col1','col2','col3'])
df2 = pd.DataFrame(np.random.randn(2,3),columns=['col1','col2','col3'])


print ("İleri doldurma ile DataFrame(limit1):")
df2.reindex_like(df1,method='ffill',limit=1)

İleri doldurma ile DataFrame(limit1):

       col1      col2      col3
0 -0.377912 -0.679837  1.358535
1 -0.377013 -0.160673 -0.474043
2 -0.377013 -0.160673 -0.474043
3       NaN       NaN       NaN
4       NaN       NaN       NaN
5       NaN       NaN       NaN

## Yeniden Adlandırmak(Renaming)
Rename () yöntemi, bazı eşlemelere (dict veya seriler) veya rasgele bir işleve dayalı bir ekseni yeniden etiketlemenizi sağlar.
Bunu anlamak için aşağıdaki örneği ele alalım:

In [9]:
import pandas as pd
import numpy as np

df1 = pd.DataFrame(np.random.randn(6,3),columns=['col1','col2','col3'])

print ("Yeniden Adlandırdıktan sonra satır ve sütunlar:")
df1.rename(columns={'col1' : 'c1', 'col2' : 'c2'},
    index = {0 : 'apple', 1 : 'banana', 2 : 'durian'})

Yeniden Adlandırdıktan sonra satır ve sütunlar:

              c1        c2      col3
apple  -0.096674  0.555717  0.929879
banana -0.226227  0.537153  0.658939
durian -0.171097  0.049145 -1.680230
3      -0.184811  0.561560 -2.474488
4      -0.910864  0.490068 -0.459182
5       0.146463 -0.911526  1.101054